[submodule "SOFTWARE/IFRExtractor-RS-structured/sources"]
	path = SOFTWARE/IFRExtractor-RS-structured/sources
	url = https://github.com/134ARG/IFRExtractor-RS-structured.git
[submodule "SOFTWARE/MCExtractor/sources"]
	path = SOFTWARE/MCExtractor/sources
	url = https://github.com/platomav/MCExtractor.git
[submodule "SOFTWARE/UEFITool_0.28.0/sources"]
	path = SOFTWARE/UEFITool_0.28.0/sources
	url = https://github.com/LongSoft/UEFITool.git
[submodule "SOFTWARE/UEFITool_NE_A72_win64/sources"]
	path = SOFTWARE/UEFITool_NE_A72_win64/sources
	url = https://github.com/LongSoft/UEFITool.git
[submodule "SOFTWARE/uefi-mod-tools/sources"]
	path = SOFTWARE/uefi-mod-tools/sources
	url = https://github.com/mixa3607/uefi-mod-tools.git
	branch = feat/ifr-react-viewer-mvp
[submodule "SOFTWARE/CPUMicrocodes/sources"]
	path = SOFTWARE/CPUMicrocodes/sources
	url = https://github.com/platomav/CPUMicrocodes.git
